<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.
    <ion-list>
      <ion-item routerLink="/page1" routerDirection="forward">Pagina 1</ion-item>
      <ion-item routerLink="/page2" routerDirection="forward">Pagina 2</ion-item>
      <ion-item routerLink="/login" routerDirection="forward">Login</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    Home
    Tap the button in the toolbar to open the menu.
  </ion-content>
</div>